* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh; /* fills 100% of the height all the time */
    background: linear-gradient(#5a5a91, #a4a3c9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}


/* #5fe7df #6ed0e3 #a4acec #cc9df2 */
.wrapper {
    background: linear-gradient(30deg, #5fe7df, #6ed0e3, #a4acec, #cc9df2);
}

.display {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 125px;
    padding-right: 20px;
}

.previous-value {
    font-size: 2.5rem;
}

.current-value {
    font-size: 1.5rem;
}

.button-rows {
    display: flex;
}

.button-rows > button {
    height: 75px;
    width: 75px;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, .25);
    color: rgba(0, 0, 0, .9);
} 

.button-rows > button:hover {
    background-color: rgba(255, 255, 255, .75);
}